.navbar-main {
    background: $primaryColor;

    .navbar-brand {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .dropdown-toggle {

        &:after {
            display: none !important;
        }

        .nav-avatar {
            width: 23px;
            border-radius: 100%;
            margin-right: 8px;
        }
    }
}